/* * GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid lightgreen; */
}
html,
body {
    height: 100%;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button,
select,
input[type='checkbox'] {
    cursor: pointer;
}
#root,
#__next {
    isolation: isolate;
}

.display-none {
    display: none;
}

.opacity {
    opacity: 1 !important;
    transition: opacity 0.15s ease-out;
}

.grey-hover {
    background-color: rgb(238, 238, 238);
}

.focus-up {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

input[type='checkbox']::before {
    content: '\2713';
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 2px;
    color: grey;
    visibility: hidden;
}

input[type='checkbox']:checked::before,
input[type='checkbox']:hover::before {
    visibility: visible;
}

.P1 {
    border: 2px solid rgb(217, 71, 64);
    background-color: rgba(217, 71, 64, 0.1);
}
.P2 {
    border: 2px solid rgb(242, 139, 45);
    background-color: rgba(242, 139, 45, 0.1);
}
.P3 {
    border: 2px solid rgb(0, 106, 218);
    background-color: rgba(0, 106, 218, 0.1);
}
.P4 {
    border: 1px solid grey;
}

.card-btn {
    width: 5rem;
    height: 2.2rem;
    text-align: center;
    font-family: roboto-medium;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
}

.cancel-btn {
    color: var(--text-secondary-color);
    background-color: var(--bg-secondary-color);
}

.cancel-btn:hover {
    background-color: rgb(229, 229, 229);
}

.add-btn {
    color: var(--bg-secondary-color);
    background-color: var(--bg-primary-color);
}

.add-btn:hover {
    background-color: rgb(176, 61, 50);
}

.select-project-wrapper {
    color: var(--text-secondary-color);
    display: flex;
    gap: 0.2rem;
}

.select-project-wrapper:hover {
    color: var(--text-primary-color);
}

.select-project {
    border: none;
}

.select-project-svg {
    background-image: url('../assets/icons/inbox.svg');
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    place-self: center;
}

#priority-dialog {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 10px;
}

.priority-wrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 3fr 1fr;
    cursor: pointer;
}

.svg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
}

.red-flag {
    background-image: url('../assets/icons/flag/flag-red.svg');
}

.orange-flag {
    background-image: url('../assets/icons/flag/flag-orange.svg');
}

.blue-flag {
    background-image: url('../assets/icons/flag/flag-blue.svg');
}

.white-flag {
    background-image: url('../assets/icons/flag/flag.svg');
}

.priority-check {
    background-image: url('../assets/icons/check.svg');
}
