@import './variables.css';

/*GLOBAL STYLES*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

.opacity {
    opacity: 1 !important;
    transition: opacity 0.15s ease-out;
}

.none {
    display: none;
}

.grey-hover {
    background-color: rgb(238, 238, 238);
}
