#card-focus {
}

#card {
    width: clamp(350px, 864px, 90vw);
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-secondary-color);
    opacity: 0;
    border-radius: 15px;
    color: rgb(26, 26, 26);
}

/* * Header */
.todo-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -6px;
}

#todo-header-content-left {
    display: flex;
    gap: 0.3rem;
}

#todo-header-content-left > p {
    font-size: 0.9rem;
}

#todo-header-content-right {
    display: flex;
    gap: 0.3rem;
}

.header-card-btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    filter: invert(70%);
}

#todo-header-content-right > .next-btn {
    background-image: url('../assets/icons/chevron-up.svg');
}

#todo-header-content-right > .previous-btn {
    background-image: url('../assets/icons/chevron-down.svg');
}

#todo-header-content-right > .more-btn {
    background-image: url('../assets/icons/dots.svg');
}

#todo-header-content-right > .close-btn {
    background-image: url('../assets/icons/close.svg');
}

/* * Main-content */
#todo-card-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title-container {
    display: flex;
    place-items: center;
    gap: 1rem;
}

#todo-description-container {
    display: flex;
    padding-left: 2rem;
}

.description-svg {
    background-image: url('../assets/icons/description.svg');
}

/* .due-container {
    display: flex;
    gap: 1rem;
} */

#project-svg {
    background-image: url('../assets/icons/inbox.svg');
}

@media screen and (min-width: 750px) {
    #todo-card-content {
        display: grid;
        align-items: center;
        grid-template-columns: 4fr 1fr;
        grid-auto-rows: 40px;
    }

    #todo-card-content > h2 {
    }

    #todo-card-content > #project-name-container {
        grid-column-start: 2;
    }

    #todo-card-content > #item-description-container {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #todo-card-content > .item-comment {
        grid-column-start: 1;
        margin-left: 15px;
    }

    .due-container {
        display: grid;
    }

    .due-container label {
        grid-column-start: span 2;
    }

    #todo-card-content > #priority-container {
        grid-column-start: 2;
        grid-row-start: 3;
    }
}
