@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

:root {
    --text-primary-color: rgb(32, 32, 32);
    --text-secondary-color: rgb(83, 83, 83);
    --text-tertiary-color: rgb(209, 69, 59);

    --bg-primary-color: rgb(219, 76, 63);
    --bg-secondary-color: white;
}
