@import '../variables.css';

main {
    display: flex;
    /* gap: 12rem; */
}

/* todo => see why without flex layout brakes */
#main-content {
    width: 100%;
    display: flex;
    place-content: center;
}
